# Wait 60 seconds before connecting using these details, or login to https://console.neo4j.io to validate the Aura Instance is available
NEO4J_URI=neo4j+s://abc
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=abc
AURA_INSTANCEID=abc
AURA_INSTANCENAME=abc

# ***** PROD SUPABASE *****
SUPABASE_URL=https://abc
SUPABASE_API_KEY=abc